<div class="mt-4">
    <form action="/forks">
    <div class="mb-3 form-group">
        <label for="url-input">Enter Github URL</label>
        <input type="text" name="repoName" class="form-control" id="url-input">
    </div>
    <button type="submit" id="submit-btn">Submit</button>
    </form>
</div>
